<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Permítame presentarme, soy Martin Huerta, un entusiasta de la tecnología y la programación.
        Me complace ponerme en contacto contigo para presentarme y ofrecer mis servicios como programador.
    </p>
    <p>
        Tengo 1 años de experiencia en programación y he trabajado en proyectos en varios lenguajes de
        programación como Java, Python, C ++, entre otros. Además, tengo experiencia en el desarrollo de
        aplicaciones móviles y páginas web, lo que me permite tener una visión completa de los 
        requerimientos y necesidades de los clientes.
    </p>
</article>